<style> 
div.text_cell_render { /* Customize text cells */ 
    font-family: 'Arial'; 
    font-size:20px;
    line-height: 1.5em;
    padding-left:3em; 
    padding-right:3em; 
}
.CodeMirror {
    font-family:  'Source Code Pro', monospace;
    font-size: 18px;
}

/* Cell output */

.rendered_html pre, .rendered_html code {
    color: inherit !important;
    background-color: inherit !important;
}
div.output_area pre {
    line-height: 1.2em;
    color: #93a1a1 !important;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
.rendered_html table, .rendered_html td, .rendered_html th {
    border: 1px solid #586e75 !important;
    font-family: 'Arial';
    font-size: 16px;
}
</style>